:root {
    --bgColor: #1C1C1A;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}

html {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--bgColor);
}

.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    min-height: 100dvh;
}

main {
    gap: 75px;
}

.Attemporal-Logo {
    width: 350px;
}

.buttons {
    gap: 28px;
}

.button {
    width: 300px;
    height: 46px;
    padding-left: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    border-radius: 100px;
    border: 2px solid var(--white);
    position: relative;
}

.icono-medium {
    width: 22px;
}

.button img {
    width: 22px;
}

/* Media Queries */

/* x-sm */
@media (width <=512px) {
    .Attemporal-Logo {
        width: 300px;
    }
}

/* sm */
@media (512px < width <=640px) {
    .Attemporal-Logo {
        width: 350px;
    }
}