@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ================ VARIABLES ================ */
:root {

    /* ================ COLORS ================ */
    --black: #000;
    --white: #fff;
    --background: #19192C;

    /* ================ TAMAÑOS ================ */
    --font-size-title-1: 1.5rem;
    --font-size-title-2: 1.25rem;
    --width-background-image: 1000px;
    --width-image-1: 600px;
    --width-image-2: 450px;
}

/* ================ RESPONSIVE STYLES ================ */
/* sm */
@media (width <=640px) {
    
}

/* md */
@media (640px < width <=768px) {
    
}

/* lg */
@media (768px < width <=1010px) {
    
}

/* xl */
@media (1010px < width <=1400px) {
    
}

/* 2xl */
@media (width > 1400px) {
    
}

/* ================ BASE ================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

body{
    background: linear-gradient(var(--black), 10%, var(--background), var(--black));
    background-repeat: no-repeat;
    color: var(--white);
}

header{
    margin: 40px 70px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: var(--white);
}

footer{
    margin: 200px 30px 40px 30px;
    display: flex;
    justify-content: space-evenly;
}

footer h2{
    font-weight: normal;
    font-size: var(--font-size-title-1);
}

/* ================ REUSABLE CSS CLASSES ================ */
.section-title{
    font-weight: bold;
}

.background-img img{
    width: var(--width-background-image);
}

.background-img{
    position: absolute;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* ================ navbar ================ */
.navbar-options ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    height: 100%;
}

/* ================ HERO ================ */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-hero{
    width: 40%;
    height: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: var(--font-size-title-2);
}

.texto-hero button{
    font-size: var(--font-size-title-2);
    width: 50%;
    height: 6vh;
    border-radius: 20px;
    border-width: 0px;
    background-color: var(--white);
    cursor: pointer;
    margin-top: 50px;
    margin-left: 20px;
}

.imagen-hero{
    width: var(--width-image-1);
}

/* ================ CONTENT TREE ================ */
.contenttree-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenttree-img {
    width: var(--width-image-2);
}

.texto-contenttree{
    font-size: var(--font-size-title-2);
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ================ ABOUT US ================ */
.about-us-section{
    display: flex;
    justify-content: center;
}

.texto-about-us{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 780px;
    font-size: var(--font-size-title-2);
}

/* ================ FOOTER ================ */
.links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.siguenos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.icons ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.legal{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyright{
    text-align: center;
    margin: 50px;
}