@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --bgColor: #252525;
    --white: #F4F1E9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

html {
    background-color: var(--bgColor);
    -webkit-tap-highlight-color: transparent;
}

.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

body {
    height: 100dvh;
}

main {
    gap: 25px;
}

.SocialMedia {
    gap: 36px;
}

.buttons {
    gap: 28px;
}

.button {
    width: 300px;
    height: 46px;
    padding-left: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid var(--white);
    position: relative;
}

.button img {
    width: 22px;
}

/* Media Queries */

/* x-sm */
@media (width <=512px) {
    .InnoGrowth-Logo {
        width: 280px;
    }
}

/* sm */
@media (512px < width <=640px) {
    .InnoGrowth-Logo {
        width: 350px;
    }
}